
body{
	font:12px/1.55 "microsoft yahei",Arial,Helvetica,sans-serif;
}
.main{
    width: 100%;
    height: 7339.72px;
    margin-left: 100px;
	margin:0 auto;
}
 .clearfix{
	zoom: 1;
}
/* 可能不对 */
.clearfix::after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
input{
	font-family: "Microsoft YaHei";
	outline: none;
	vertical-align: middle;
}
button{
	border-style: none;
	outline: none;
}
input,select,textarea{
	font:12px "Microsoft YaHei";
	color: #2f2f2f;
}
ul,ol{
	list-style: none;
	margin: 0;
    padding-left: 0;
}
li{
	list-style-type:none;		
}
a{
	font-family: "Microsoft YaHei",Tahoma,Arial,sans-serif;
	text-decoration:none;
	color: #343433;
}
a:hover{
	color:red;
}
h1,h2,h3,h4,h5,h6{
	font-size: 100%;
	font-family: "Microsoft YaHei";
	font-weight:normal;
}
img{
	width: auto;
	height: auto;
	display: block;
}
em,i{
	font-style: normal;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
.clearer:after,.fields:after{
	display: block;
	content: ".";
	clear: both;
	overflow: hidden;
	height: 0;
	line-height: 0;
	font-size: 0;
}