*{margin:0;padding:0}
.color{
	background: pink;
}
.show{
	display: block;
}
.hide{
	display: none;
}
.full{
	width:1500px;
	height:780px;
	background:#fff;
}
.header{
	background: #fff;
	width:100%;
	height:120px;		
}
/* 没加上 */
.header .img h3::before{
	/* background: url(../../image/images/login_sprites.png) 0 0 no-repeat; */
}
.contain .img{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top:30px ;
}
.contain .img img{
	margin-left: 100px;
	width: 12%;
	height: 50px;
}
.img .download{
	text-decoration:none;
	font-size:15px;
	color:red;
	text-align:buttom;
	float:right;
	margin-right: 100px;	
}
.container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width:100%;
	padding-bottom:62px;
	box-sizing: border-box;
	background: #e9f2fb;
}
.login-content{
	width:30%;
	margin-top:50px;
	padding:40px 30px;
	border-right:1px solid #e5e5e5;
	background-color:#fff;
}
.login-content-btns{
	height:20px;
	padding-bottom:20px;
	margin-bottom:34px;
	box-sizing:border-box;
	border-bottom:1px solid #e5e5e5;
	color:#666;
	font-weight:700;
	font-size:20px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;	
}
.login-content-btns>.item.on{
	color:#e51f1d;;
}
.login-content-btns>.item{
	font-size: 20px;
	line-height: 1;
	cursor: pointer;
}
.login-content-btns>.item:first-child{
	margin-right: 30px;
	border-right: 1px solid #e5e5e5;
	padding-right: 30px;
}
.login-content-view{
	width:100%;
	overflow: hidden;
}
.login-content input{
	width:auto;
	height: 40px;
	padding-left: 36px;
	border:1px solid #c9c9c9;
	background: #fff;
}
.login-content-mode{
	width:100%;
	display: flex;
	flex-flow: row nowrap;
	transition: transform .5s;
}
.login-content-mode.old{
	transform: translateX(-100%);
}
.login-content-mode>.item{
	width:95%;			
	padding: 0 4%;
	display: flex;
	flex: none;
	flex-flow: column nowrap;
}
.login-content-inputBox.username{
	display: flex;
	flex-flow: row nowrap;
}
.login-content-inputBox{
	width:100%;
	position: relative;
	margin-bottom: 30px;
}
.login-content-inputBox.username::before{
	background-position: -38px -256px;
}
.login-content-inputBox::before{
	content: "";
	background-image: url(http://127.0.0.1:8080/image/images/login_sprites.png);
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 11px;
	top: 11px;
}
.login-content-inputBox.username>input[type=text]{
	flex: auto;
	border-right: none;
}
.login-content-inputBox.username>input[type=button]{
	flex: none;
	width: 35%;
	height: 42px;
	padding-left: 0;
	background-color: #eee;
	color: #000;
	font-weight: 700;
	cursor: pointer;
}
.login-content-inputBox.SMSCode::before{
	background-position: 0 -256px;
}
.login-content-inputBox.SMSCode>input{
	width: 100%;
}
.login-content-inputBox-msg{
	position: absolute;
	left: 5px;
	top: 40px;
	padding-left: 15px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
}
.login-content-inputBox-msg::before{
	display: block;
	content: "";
	position: absolute;
	left: 0;
	top: 7px;
	width: 14px;
	height: 14px;
	background: url(http://127.0.0.1:8080/image/images/login_sprites.png) -1000px -33px no-repeat;
}
.login-content-inputBox.submit>input{
	padding-left: 0;
	width: 100%;
	border: none;
	border-radius: 4px;
	background-color: #e51f1d;
	color: #fff;
	cursor: pointer;
}
.login-content-agreement{
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	font-size: 12px;
	color: #666;
	margin-bottom: 60px;
}
.login-content-agreement>input:checked{
	background: url(http://127.0.0.1:8080/image/images/checked.png) center no-repeat;
}
.login-content-agreement>input{
	padding: 0;
	widows: 16px;
	height: 16px;
	margin-right: 5px;
	border: 1px solid #c9c9c6;
	outline: 0;
}
.login-content-agreement a{
	color: #5695e2;
}
.login-content-inputBox.other::before{
	background-position: -38px -256px;
}
.login-content-inputBox.other>input,.login-content-inputBox.password>input{
	width:100%;
	flex: auto;
}
.login-content-inputBox.password::before{
	background-position: -84px -256px;
}
.login-content-inputBox.submit>input{
	padding-left: 0;
	width:100%;
	border: none;
	border-radius: 4px;
	background-color: #e51f1d;
	color: #fff;
	cursor: pointer;
}
.login-content-forget{
	width:100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	font-size: 14px;
	transform: translateY(-10px);
	margin-bottom: 10px;
}


.login-other{
	width:100%;
	box-sizing:border-box;
	margin:50px 30px;
	padding:0 4.3%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;	
}
.login-other .headline{
	width: 80%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	color: #666;
	margin-bottom: 15px;
}
.login-other .headline::after,.login-other .headline::before{
	flex: auto;
	content: "";
	display: block;
	height: 1px;
	background-color: #666;
}
.login-other .headline p{
	margin:0 15px;
	letter-spacing: 2px;
}
.login-other .headline p::after{
	content: "";
	display: block;
	background: url(http://127.0.0.1:8080/image/images/login_sprites.png) no-repeat;
	position: absolute;
}

.login-other .three ul{
	width: 80%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.login-other .three ul li{
	margin: 10px 20px 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.login-other .three ul li span{
	width: 37px;
	height: 37px;
	display: block;
	background: url(http://127.0.0.1:8080/image/images/login_sprites.png) no-repeat;
}
.login-other .three ul li.wechat span{
	background-position: 0 -68px;
}
.login-other .three ul li.weibo span{
	background-position: -75px -68px;
}
.login-other .three ul li.qq span{
	background-position: -150px -68px;
}
.login-other .three ul li p{
	height: 12px;
	line-height: 12px;
	text-align: center;
	color: #666;
	margin-top: 4px;
}
.login-other .three ul li.wechat p{
	position: relative;
}
.login-other .three ul li.wechat p::after{
	content: "";
	display: block;
	width:22px;
	height: 22px;
	background: url(http://127.0.0.1:8080/image/images/login_sprites.png) 0 -43px no-repeat;
	position: absolute;
	top: 1px;
	left: 28px;
}