.col-main{
    width:1200px;
    margin: 0 auto;
    box-sizing:border-box;	
}
main section.breadcrumbs{
    padding: 20px 0;
}
main section.breadcrumbs ul li{
    float: left;
    color: #9d9e9f;
}
main section.breadcrumbs ul li a{
    color: #9d9e9f;
    font-size: 8px;
}
main section.summary .summary-image{
    width: 400px;
    position: relative;
}
main section.summary .thumbanil{
    width: 400px;
    height: 100px;
    
}
main section.summary .thumbanil ul{
    width: 100%;
    height: 100%;
    display: flex;  
    flex-flow: row;  
}
main section.summary .thumbanil ul li{
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    cursor: pointer;
    /* margin:2px; */
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
}
main section.summary .thumbanil ul li img{
    width: 80px;
    height: 80px;
}
main section.summary .summary-image .picture{
    width: 400px;
}
main section.summary .summary-image .picture ul{
    cursor: pointer;
}
main section.summary .summary-image .picture ul li img{
    width: 400px;
    height: 400px;
    margin: auto;
}
 
#mask{
    position: absolute;
    top:0;left: 0;
    width:160px; height:160px;
    background-color:rgb(255, 255, 170);
    opacity:.5;
}
#super-mask{
    position: absolute;
    top:0;left: 0;
    width:400px; height:400px;
    border: 1px solid red;
    
}
#div-lg{
    position: absolute;
    top: 0;left: 450px;
    width:600px; height:600px;
    z-index:1000;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background:url(http://127.0.0.1:8080/image/order/9e238e44beb44f338a3ab6ceec185fc4X640.jpg) no-repeat;
} 
main section.summary .summary-image p.tip{
    display: inline-block;
    margin: 28px 0 0 15%;
    font-size: 12px;
    color: #b2b2b2;
    line-height: 20px;
    border-bottom: none;
}
main section.summary .summary-image .icon360{
    width: 70px;
    height: 70px;
    float: right;
    cursor: pointer;
}
main section.summary .summary-news{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #d2d2d2;
    padding: 20px 30px;
    margin-top: 20px;
}
main section.summary .summary-news .title{
    position: relative;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
}
main section.summary .summary-news .more{
    padding-left: 20px;
    font-weight: 400;
    display: inline-block;
    font-size: 12px;
    color: #a3a3a3;
}
main section.summary .summary-news ul{
    width: 100%;
}
main section.summary .summary-news ul li{
    width: 100%;
    list-style: disc inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
main section.summary .summary-news ul li a{
    line-height: 2;
    font-size: 12px;
    color: #747474;
}
main section.summary .summary-detail{
    width:47%;
    padding-left: 5%;
}
main section.summary .summary-detail .title .title-brand{
    position: relative;
}
main section.summary .summary-detail .title .title-brand img{
    display: inline-block;
    width: 75px;
    vertical-align: middle;
}
main section.summary .summary-detail .title .title-brand span{
    margin-left: 10px;
    font-size: 16px;
    color: #494949;
}
/*  图片不对*/
main section.summary .summary-detail .title .title-brand i.share{
    /* background: url(../../image/images/arrdown.png) no-repeat; */
    margin-right: 20px;
}
main section.summary .summary-detail .title .title-brand i{
    width: 60px;
    height: 20px;
    background-size: 20px 20px;
    cursor: pointer;
    margin-top: 5px;
    position: relative;
}
.bdshare-button-style0-16{
    zoom: 1;
}
.bdshare-button-style0-16 a.bds_more{
    background-image: none;
}
.bdshare-button-style0-16 .bds_more{
    color: #333;
    float: left;
}
.bdshare-button-style0-16 a,.bdshare-button-style0-16 .bds_more{
    font-size: 12px;
    padding-left: 17px;
    line-height: 16px;
    height: 16px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 6px 6px 6px 0;
}
.bdshare-button-style0-16 .bds_more{
    background-position: 0 0;
}
.bdshare-button-style0-16::after{
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
/* 图片不对 */
main section.summary .summary-detail .title .title-brand i.collection{
    /* background: url(../../image/images/arrdown.png) no-repeat; */
    margin-right:20px; 
}
main section.summary .summary-detail .title .title-name{
    padding-top: 10px;
    border-bottom: 1px solid #d2d2d2;
}
main section.summary .summary-detail .title .title-name h1{
    font-size: 20px;
    color: #222;
    line-height: 36px;
    font-weight: 400;
}
main section.summary .summary-detail .title .title-name span{
    font-size: 14px;
    color: #e51f1d;
    line-height: 36px;
}
main section.summary .summary-detail .content{
    padding-top: 10px;
    border-bottom: 1px solid #d2d2d2;
}
main section.summary .summary-detail .content .price-row{
    position: relative;
    margin-bottom: 10px;
}
main section.summary .summary-detail .content p{
    font-size: 14px;
    line-height: 40px;
}
main section.summary .summary-detail .content .price-row p .red{
    font-size: 20px;
    font-weight: 900;
    color: #e51f1d;
}
main section.summary .summary-detail .content .price-row p .pre-money{
    margin:0 5px 0 50px;
    font-size: 16px;
    color: #333;
}
main section.summary .summary-detail .content .price-row .erwercode{
    position: absolute;
    top: 10px;
    right: 38px;
}
main section.summary .summary-detail .content .price-row .erwercode span{
    font-size: 14px;
    color:#bda377;
    cursor: pointer;
}
main section.summary .summary-detail .content .price-row .erwercode .pic{
    display: none;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px #d2d2d2;
    padding: 10px;
    position: absolute;
    top:-130px;
    right: -36px;
}
main section.summary .summary-detail .content .channel{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 20px;
    box-sizing: border-box;
}
main section.summary .summary-detail .content .channel>.name{
    font-size: 14px;
    line-height: 1.2;
    margin-right: 20px;
    flex: none;
}
main section.summary .summary-detail .content .channel>.name::after{
    content: ":";
    display: inline-block;
    padding-left: 6px;
}
main section.summary .summary-detail .content .channel>.btns{
    flex: none;
    display: flex;
    flex-flow: row nowrap;
}
main section.summary .summary-detail .content .channel>.btns>.item.on{
    border: 3px solid #e51f1d;
    pointer-events: none;
}
main section.summary .summary-detail .content .channel>.btns>.item{
    flex: none;
    padding: 10px 15px;
    margin-right: 8px;
    font-size: 14px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
main section.summary .summary-detail .content>.getPointTips{
    width: 260px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    z-index: 100;
}
main section.summary .summary-detail .content>.getPointTips{
    cursor: pointer;
}
main section.summary .summary-detail .content>.getPointTips>.tips{
    position: absolute;
    top:-150px;
    left: 200px;
    display: none;
    background-color: #fff;
    box-shadow: 0 0 5px #ddd;
    padding: 10px;
}
main section.summary .summary-detail .content>.getPointTips>.tips>p{
    text-align: center;
    margin-bottom: 10px;
}
main section.summary .summary-detail .content>.getPointTips>.tips>p span{
    font-weight: 700;
    font-size: 16px;
}
main section.summary .summary-detail .content>.getPointTips>.tips>p>.red{
    color: #e51f1d;
}