@charset "UTF-8";
main section.breadcrumbs {
  padding: 20px 0;
}
main section.breadcrumbs ul li {
  float: left;
}
main section.breadcrumbs .breadcrumbs-right {
  float: right;
}
main section.breadcrumbs .breadcrumbs-right a span {
  font-weight: 900;
  color: #e51f1d;
}
.suspend {
  width: 50px;
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 99;
  margin-top: -91px;
}
.suspend .watch-compare,
.suspend .QR-code {
  padding: 8px;
  background-color: #030000;
  position: relative;
  cursor: pointer;
}
.suspend .watch-compare > i,
.suspend .QR-code > i {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../images/base/publicsprites.png) no-repeat;
}
.suspend .watch-compare em,
.suspend .QR-code em {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  border: 5px solid #e51f1d;
  border-width: 5px;
  border-color: transparent transparent transparent #e51f1d;
}
.suspend .watch-compare {
  margin-bottom: 1px;
}
.suspend .watch-compare i {
  background-position: -1px -47px;
}
.suspend .watch-compare .compare-box {
  display: none;
  width: 80px;
  text-align: center;
  position: absolute;
  top: -10px;
  right: 50px;
  background-color: #fff;
  cursor: default;
}
.suspend .watch-compare .compare-box h3 {
  width: 100%;
  height: 21px;
  line-height: 21px;
  color: #fefefe;
  background: #e51f1d;
}
.suspend .watch-compare .compare-box ul li {
  width: 100%;
  height: 80px;
  position: relative;
}
.suspend .watch-compare .compare-box ul li .select-watch {
  display: none;
}
.suspend .watch-compare .compare-box ul li .select-watch button {
  width: 10px;
  height: 10px;
  background: url(../images/base/float_sprites02.png) no-repeat;
  background-position: -77px -84px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.suspend .watch-compare .compare-box ul li a {
  display: block;
  width: 100%;
  height: 80px;
  background: #e5e6e6;
  color: #888889;
}
.suspend .watch-compare .compare-box ul li a img {
  width: auto;
  height: 80px;
  margin: auto;
}
.suspend .watch-compare .compare-box ul li a i {
  display: inline-block;
  width: 20px;
  height: 35px;
  background: url(../images/base/float_sprites02.png) no-repeat -69px -26px;
}
.suspend .watch-compare .compare-box ul li a.close {
  width: 10px;
  height: 10px;
  background: url(../images/base/float_sprites02.png) no-repeat;
  background-position: -77px -84px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 11;
}
.suspend .watch-compare .compare-box ul li:nth-child(2) {
  margin: 1px 0;
}
.suspend .watch-compare .compare-box > a {
  display: block;
  width: 100%;
  height: 21px;
  line-height: 21px;
  color: #fefefe;
  background: #e51f1d;
}
.suspend .QR-code i {
  background-position: -77px -47px;
}
.suspend .QR-code img {
  display: none;
  width: 86px;
  position: absolute;
  top: -14px;
  right: 50px;
}
@media (max-width: 1200px) {
  .core {
    width: 1200px;
  }
  .col-main {
    width: 1200px;
  }
  header .top-row .search {
    margin-left: 5%;
  }
}
/*# sourceMappingURL=main.css.map */